################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Yandex trens/x64/Debug
/Yandex trens/.vs/Yandex trens
/Yandex trens/Yandex trens/x64/Debug
*.vcxproj
*.filters
*.user
*.sln
